img
{height:40%; width:40%;}

p
{text-align:justify;}

body
{
background-color:#ffffbd;
}

h1
{
font-family:Algerian; 
text-align:center;
color:#004646;
}

h2
{
text-decoration:underline;
}


